version: "3.8"

services:
  github-runner:
    image: ghcr.io/dam-pav/github-runner:bootstrap

    container_name: ${RUNNER_NAME}

    environment:
      REPO_URL: ${REPO_URL}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      RUNNER_NAME: ${RUNNER_NAME}
      RUNNER_LABELS: ${RUNNER_LABELS}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    restart: unless-stopped
